<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ajouter un media</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs" id="mediaTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="picture-tab" data-toggle="tab" href="#picture" role="tab" aria-controls="picture" aria-selected="true">Photo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="movie-tab" data-toggle="tab" href="#movie" role="tab" aria-controls="movie" aria-selected="false">Vidéo</a>
        </li>
    </ul>
    <div class="tab-content" id="mediaTabContent">
        <div class="tab-pane fade show active" id="picture" role="tabpanel" aria-labelledby="picture-tab">
            {{ form_start(formpicture) }}
            <div id="error">
            </div>
            {{ form_widget(formpicture) }}
            <button type="submit" class="btn btn-primary" data-label="Enregistrer">
                Ajouter
            </button>
            {{ form_end(formpicture) }}
        </div>
        <div class="tab-pane fade" id="movie" role="tabpanel" aria-labelledby="movie-tab">
            {{ form_start(formmovie) }}
            <div id="error">
            </div>
            {{ form_widget(formmovie) }}
            <button type="submit" class="btn btn-primary" data-label="Enregistrer">
                Ajouter
            </button>
            {{ form_end(formmovie) }}
        </div>
    </div>


    <input id="oldpicture" name="oldpicture" type="hidden" value="test">
</div>
<div class="modal-footer">
</div>

