{% extends 'base.html.twig' %}

{% block title 'SnowTricks'  %}

{% block body %}

    <main role="main">
        <div id="home">
            <div class="landing-text">
                <h1 class="display-3">SnowTricks</h1>
                <h3>Communauté de Snowboarder.</h3>
            </div>
            <div id="scroll-down"><a class="btn btn-secondary" href="#show-tricks"><i class="fas fa-lg fa-chevron-down"></i></a></div>
        </div>
        <section id="show-tricks" style="padding-top: 10px">
            <div class="container-fluid">
                <h1>Les tricks</h1>
                {% for message in app.flashes ('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for message in app.flashes ('error') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="row flex" id="content" style="margin-right: 20px; margin-left: 20px">
                    {% for trick in tricks %}
                        <div class="col-lg-3" id="{{ trick.id }}">
                            <div class="card">
                                {% if trick.picture is null %}
                                    <img src="{{ asset('img/background_home.jpg') }}" class="card-img-top" alt="{{ trick.name }}">
                                {% else %}
                                    <img src="{{ asset(dir_media) ~ trick.picture }}" class="card-img-top" alt="{{ trick.name }}">
                                {% endif %}
                                <div class="card-body d-flex justify-content-between bd-highlight mb-3">
                                    <div class="d-flex justify-content-start">
                                        <h5 class="card-title">
                                            <a href="{{ path('trick.show', {id: trick.id, slug: trick.slug}) }}"> {{ trick.name }}</a>
                                        </h5>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="d-flex justify-content-end">
                                            <div class="btn-group">
                                                <a href="{{ path('admin.trick.edit', {id: trick.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-trick" data-actionurl="{{ path('admin.trick.delete', {id: trick.id}) }}" data-token="{{ csrf_token('delete' ~ trick.id)}}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if total_tricks.total > 5 %}
                <div class="d-flex justify-content-center" id="showmore"  data-loadmore="{{ path('showmoretricks') }}" data-totalitem="{{ total_tricks.total }}" ><button type="button" id="load-more" class="btn btn-primary">Voir plus de tricks</button></div>
                {% endif %}
            </div>
        </section>
        <button type="button" class="btn btn-secondary" id="scroll-top"><i class="fas fa-chevron-up"></i></button>

    </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/showmore') }}
{% endblock %}
