{% extends 'base.html.twig' %}

{% block title trick.name %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<main role="main">
    <section id="media">
    <div class="container-trick">
        <div class="row-justify">
            {% if trick.picture is null %}
                <div class="col" id="trick" style="background-image: url({{ asset('img/background_home.jpg') }})">
            {% else %}
                <div class="col" id="trick" style="background-image: url({{ asset(dir_media) ~ trick.picture }});">
            {% endif %}
                <div class="landing-text">
                    <h1 class="display-3">{{ trick.name }}</h1>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <div id="tools">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('admin.trick.edit', {id: trick.id}) }}'"><i class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-trick" data-actionurl="{{ path('admin.trick.delete', {id: trick.id}) }}" data-token="{{ csrf_token('delete' ~ trick.id)}}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if trick.media is not empty %}
        <section id="media">
            <div class="row-fluid">
                <div class="row">
                    <div class="col">
                        <div class="responsive">
                            {% for media in trick.media %}
                                {% if media.type == 'picture' %}
                                    <div id="media-{{ media.id }}">
                                        <img src="{{ asset(dir_media) ~ media.file }}" class="card-img-top" alt="test" data-toggle="modal" data-target="#modal-preview-media" data-id="{{ media.id }}" data-file="{{ media.file }}"  data-type="{{ media.type }}">
                                    </div>
                                {% elseif media.type == 'youtube' %}
                                    <div id="media-{{ media.id }}">
                                        <img src="https://img.youtube.com/vi/{{ media.link }}/maxresdefault.jpg" class="card-img-top" alt="test" data-toggle="modal" data-target="#modal-preview-media" data-id="{{ media.id }}" data-link="{{ media.link }}" data-type="{{ media.type }}">
                                    </div>
                                {% elseif media.type == 'dailymotion' %}
                                    <div id="media-{{ media.id }}">
                                        <img src="https://www.dailymotion.com/thumbnail/video/{{ media.link }}" class="card-img-top" alt="test" data-toggle="modal" data-target="#modal-preview-media" data-id="{{ media.id }}" data-link="{{ media.link }}"  data-type="{{ media.type }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <section id="flashes">
            {% for message in app.flashes ('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for message in app.flashes ('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </section>
        <section id="details">
            <div class="row-fluid">
                <div class="col">
                    <p class="text-justify">{{ trick.description | raw }}</p>
                </div>
                <div class="col">
                    <p style="text-align: center">Créer le {{ trick.createdat|date("m/d/Y") }} | Catégorie {{ trick.category.name }} | Mis à jour le {{ trick.updateat|date("m/d/Y") }}</p>
                </div>
            </div>
        </section>
        <section id="comment">
            {% if is_granted('ROLE_USER') %}
                {{ form_start(formcomment) }}
            <div class="row justify-content-center">
                <div class="col-md-4">{{ form_row(formcomment.content) }}</div>
                <div class="col-md-2">{{ form_row(formcomment.save, { 'label': 'Ajouter un commentaire' }) }}</div>
                {{ form_row(formcomment.trick) }}
            </div>
                {{ form_end(formcomment) }}
            {% else %}
                <p class="text-center">Vous devez être connecté pour laisser un commentaire.</p>
            {% endif %}

            {% if comments is empty %}
                <p class="text-center">Aucun commentaire.</p>
            {% else %}
            <ul class="list-group w-50" style="margin: auto;" id="content">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <p class="mb-1">{{ comment.content }}</p>
                        <small>Auteur : {{ comment.author.name }}, ajouté le {{ comment.addedat|date("m/d/Y") }}</small>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        {% if total_comments.total > 5 %}
            <div class="d-flex justify-content-center" id="showmore"  data-loadmore="{{ path('showmorecomments') }}" data-id="{{ trick.id }}" data-totalitem="{{ total_comments.total }}" style="margin-top: 10px; margin-bottom: 20px"><button type="button" id="load-more" class="btn btn-primary">Voir plus de commentaires</button></div>
        {% endif %}
    </div>

    <button type="button" class="btn btn-secondary" id="scroll-top"><i class="fas fa-chevron-up"></i></button>
    </section>
    <div class="modal fade" id="modal-preview-media" tabindex="-1" role="dialog" aria-labelledby="modal-preview-media" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/slide') }}
    {{ encore_entry_script_tags('js/showmore') }}
    {{ encore_entry_script_tags('js/addcomment') }}
    {{ encore_entry_script_tags('js/previewmedia') }}
{% endblock %}
