{% extends 'base.html.twig' %}

{% block title trick.name %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<main role="main">
    <div class="container-trick">
        <div class="row-justify">
            {% if trick.picture is null %}
                <div class="col" id="trick" style="background-image: url({{ asset('img/background_home.jpg') }})">
            {% else %}
                <div class="col" id="trick" style="background-image: url({{ asset(dir_media) ~ trick.picture }})">
            {% endif %}
                <div class="landing-text">
                    <h1 class="display-3">{{ trick.name }}</h1>
                </div>
                <div id="tools">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-media" data-path="{{ path('admin.trick.edit.picture', {id: trick.id}) }}">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button id="btndeletepicture" type="button" class="btn btn-danger"  {% if trick.picture is null %}style="display: none"{% endif %} data-toggle="modal" data-target="#modal-edit-media" data-path="{{ path('admin.trick.delete.picture', {id: trick.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        <section id="showmedia">
            <div class="row">
                <div class="col text-center">
                    <button type="button" id="showmedia" class="btn btn-primary">Voir les médias</button>
                </div>
            </div>
        </section>
        <section id="media" class="carousel-wrapper">
            <div class="container">
                <div class="row">
                    <ul class="col carousel text-center">
                        <li>
                            <img src="{{ asset('img/addmedia.jpg')}}" class="card-img-top" alt="test" data-toggle="modal" data-target="#modal-edit-media" data-path="{{ path('admin.trick.add.media', {id: trick.id}) }}">
                        </li>
                        {% for media in trick.media %}
                            {% if media.type == 'picture' %}
                                <li id="media-{{ media.id }}" class="media-slide">
                                    <a href="#">
                                    <img src="{{ asset(dir_media) ~ media.file }}" class="card-img-top" alt="test">
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-edit-media" data-path="{{ path('admin.trick.delete.media', {id: media.id}) }}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                            {% elseif media.type == 'youtube' %}
                                <li id="media-{{ media.id }}">
                                    <a href="#">
                                        <img src="https://img.youtube.com/vi/{{ media.link }}/mqdefault.jpg" class="card-img-top" alt="test">
                                        <div class="overlay">
                                            <div class="overlay-content">
                                                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#modal-edit-media" data-path="{{ path('admin.trick.delete.media', {id: media.id}) }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% elseif media.type == 'dailymotion' %}
                                <li id="media-{{ media.id }}">
                                    <a href="#">
                                        <img src="https://www.dailymotion.com/thumbnail/video/{{ media.link }}" class="card-img-top" alt="test">
                                        <div class="overlay">
                                            <div class="overlay-content">
                                                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#modal-edit-media" data-path="{{ path('admin.trick.delete.media', {id: media.id}) }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <section id="flashes">
            {% for message in app.flashes ('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for message in app.flashes ('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </section>
        <section id="details">
            <div class="row-fluid">
                <div class="col">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-trick" data-actionurl="{{ path('admin.trick.delete', {id: trick.id}) }}" data-token="{{ csrf_token('delete' ~ trick.id)}}">
                            Supprimer
                        </button>
                        <button class="btn btn-primary">Editer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-edit-media" tabindex="-1" role="dialog" aria-labelledby="modal-edit-media" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/slide') }}
    {{ encore_entry_script_tags('js/editpicture') }}
    {{ encore_entry_script_tags('js/tinymce') }}
{% endblock %}
